* {
  font-size: 1.1rem;
  font-weight: 500;
}

div.card {
  /*background: #eb9f16;*/
  border-style: none;
  /*color: #092e57;*/
  /*color: floralwhite;*/
  border-radius: unset;
}

div.card .card-body {
  padding-top: 15px;
  padding-bottom: 15px;
}

.breadcrumb-wrapper {
  a {
    text-decoration: none;
    color: #091f79;
  }

  .dot-separator {
    height: 7px;
    width: 7px;
    background-color: #091f79;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }
}
