.preview-button {
  cursor: pointer;
}

table {
  .col-action-custom {
    width: 100px;
    text-align: center;
  }

  .col-seq {
    width: 50px;
  }
}

table thead td {
  background-color: #eeeeee;
}
